@model WMS_Inventory_API_Client.Models.Content

@{
    ViewData["Title"] = "Delete";
}

<h1 class="page-header">Delete Contents</h1>
<hr />
<br />
<br />

<h3 style="padding-left:35%">Are you sure you want to delete this?</h3>
<div style="padding-left:35%">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContainerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContainerId)
        </dd>
        @{
            TempData["containerid"] = Html.DisplayFor(model => model.ContainerId);
        }

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
    </form>
</div>
<div>
    <a style="color: darkred; cursor: pointer; padding-left:35%" onClick='location.href="/Container/Details/"+@TempData["containerId"]' '><u>Back to Storage Location Details</u></a>
</div>

<br />
<br />
